@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

path {
    stroke: white;
    fill:rgb(133, 101, 44) !important;

    transition: fill .4s ease;
}

path:hover {
    fill: rgb(59, 114, 46) !important;
}

#mex-map {
    display: block;
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#details-box {
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    color: white;
    font-family: "Poppins";
    background-color: rgba(0, 0, 0, 0.75); /* 75% transparent black */
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}